apiVersion: 1

deleteDatasources:
  - name: InfluxDB Homelab
    orgId: 1
  - name: OpenSearch Homelab
    orgId: 1

datasources:
  - name: InfluxDB Homelab
    uid: influxdb-homelab
    type: influxdb
    access: proxy
    url: http://influxdb:8086
    isDefault: true
    jsonData:
      version: Flux
      organization: "{{ influxdb_org }}"
      defaultBucket: "{{ influxdb_bucket }}"
      tlsSkipVerify: true
    secureJsonData:
      token: "{{ influxdb_admin_token }}"

  - name: OpenSearch Homelab
    uid: opensearch-homelab
    type: grafana-opensearch-datasource
    access: proxy
    url: http://opensearch:9200
    editable: true
    jsonData:
      database: "homelab-*"
      flavor: opensearch
      logLevelField: "level"
      logMessageField: "message"
      maxConcurrentShardRequests: 5
      timeField: "@timestamp"
      version: "2.18.0"
