services:
  plex:
    image: lscr.io/linuxserver/plex:latest
    container_name: plex
    network_mode: host
    restart: unless-stopped
    environment:
      PUID: "${PUID}"
      PGID: "${PGID}"
      TZ: "${TZ}"
      VERSION: "docker"
      PLEX_CLAIM: "${PLEX_CLAIM}"
      ADVERTISE_IP: "${PLEX_ADVERTISE_URL}"
    volumes:
      - "{{ media_config_dir }}/plex:/config"
      - "{{ media_movies_dir }}:/movies"
      - "{{ media_tv_dir }}:/tv"

  sonarr:
    image: lscr.io/linuxserver/sonarr:latest
    container_name: sonarr
    restart: unless-stopped
    environment:
      PUID: "${PUID}"
      PGID: "${PGID}"
      TZ: "${TZ}"
    ports:
      - "8989:8989"
    volumes:
      - "{{ media_config_dir }}/sonarr:/config"
      - "{{ media_tv_dir }}:/tv"
      - "{{ media_downloads_dir }}:/downloads"

  radarr:
    image: lscr.io/linuxserver/radarr:latest
    container_name: radarr
    restart: unless-stopped
    environment:
      PUID: "${PUID}"
      PGID: "${PGID}"
      TZ: "${TZ}"
    ports:
      - "7878:7878"
    volumes:
      - "{{ media_config_dir }}/radarr:/config"
      - "{{ media_movies_dir }}:/movies"
      - "{{ media_downloads_dir }}:/downloads"

  prowlarr:
    image: lscr.io/linuxserver/prowlarr:latest
    container_name: prowlarr
    restart: unless-stopped
    environment:
      PUID: "${PUID}"
      PGID: "${PGID}"
      TZ: "${TZ}"
    ports:
      - "9696:9696"
    volumes:
      - "{{ media_config_dir }}/prowlarr:/config"

  jackett:
    image: lscr.io/linuxserver/jackett:latest
    container_name: jackett
    restart: unless-stopped
    environment:
      PUID: "${PUID}"
      PGID: "${PGID}"
      TZ: "${TZ}"
      AUTO_UPDATE: "true"
    ports:
      - "9117:9117"
    volumes:
      - "{{ media_config_dir }}/jackett:/config"
      - "{{ media_downloads_dir }}:/downloads"

  qbittorrent:
    image: lscr.io/linuxserver/qbittorrent:latest
    container_name: qbittorrent
    restart: unless-stopped
    environment:
      PUID: "${PUID}"
      PGID: "${PGID}"
      TZ: "${TZ}"
      WEBUI_PORT: "${QBITTORRENT_WEBUI_PORT}"
    ports:
      - "{{ qbittorrent_webui_port }}:{{ qbittorrent_webui_port }}"
      - "6881:6881"
      - "6881:6881/udp"
    volumes:
      - "{{ media_config_dir }}/qbittorrent:/config"
      - "{{ media_downloads_dir }}:/downloads"

  deluge:
    image: lscr.io/linuxserver/deluge:latest
    container_name: deluge
    restart: unless-stopped
    environment:
      PUID: "${PUID}"
      PGID: "${PGID}"
      TZ: "${TZ}"
      DELUGE_LOGLEVEL: "info"
    ports:
      - "{{ deluge_webui_port }}:8112"
      - "{{ deluge_daemon_port }}:58846"
      - "{{ deluge_incoming_port }}:58946"
      - "{{ deluge_incoming_port }}:58946/udp"
    volumes:
      - "{{ media_config_dir }}/deluge:/config"
      - "{{ media_downloads_dir }}:/downloads"

  overseerr:
    image: lscr.io/linuxserver/overseerr:latest
    container_name: overseerr
    restart: unless-stopped
    environment:
      PUID: "${PUID}"
      PGID: "${PGID}"
      TZ: "${TZ}"
    ports:
      - "5055:5055"
    volumes:
      - "{{ media_config_dir }}/overseerr:/config"

  ombi:
    image: lscr.io/linuxserver/ombi:latest
    container_name: ombi
    restart: unless-stopped
    environment:
      PUID: "${PUID}"
      PGID: "${PGID}"
      TZ: "${TZ}"
    ports:
      - "3579:3579"
    volumes:
      - "{{ media_config_dir }}/ombi:/config"

  unpackerr:
    image: golift/unpackerr:latest
    container_name: unpackerr
    restart: unless-stopped
    user: "${PUID}:${PGID}"
    environment:
      TZ: "${TZ}"
      UN_SONARR_0_URL: "http://sonarr:8989"
      UN_SONARR_0_API_KEY: "${UNPACKERR_SONARR_API_KEY}"
      UN_RADARR_0_URL: "http://radarr:7878"
      UN_RADARR_0_API_KEY: "${UNPACKERR_RADARR_API_KEY}"
      UN_FOLDER_0_PATH: "/downloads"
      UN_FOLDER_0_EXTRACT_PATH: "/downloads/completed"
      UN_FOLDER_0_DELETE_ORIGINAL: "false"
      UN_WEBSERVER_METRICS: "true"
    volumes:
      - "{{ media_downloads_dir }}:/downloads"
      - "{{ media_config_dir }}/unpackerr:/config"
