PUID={{ media_puid }}
PGID={{ media_pgid }}
TZ={{ media_timezone }}
PLEX_CLAIM={{ plex_claim | default('') }}
PLEX_ADVERTISE_URL={{ plex_advertise_url }}
QBITTORRENT_WEBUI_PORT={{ qbittorrent_webui_port }}
