AUTHENTIK_TAG={{ authentik_version }}
AUTHENTIK_SECRET_KEY={{ authentik_secret_key }}
AUTHENTIK_BOOTSTRAP_EMAIL={{ authentik_bootstrap_email }}
AUTHENTIK_BOOTSTRAP_PASSWORD={{ authentik_bootstrap_password }}
AUTHENTIK_BOOTSTRAP_TOKEN={{ authentik_bootstrap_token }}
AUTHENTIK_ERROR_REPORTING__ENABLED=false
AUTHENTIK_DISABLE_UPDATE_CHECK=true
AUTHENTIK_POSTGRESQL__HOST=postgresql
AUTHENTIK_POSTGRESQL__NAME=authentik
AUTHENTIK_POSTGRESQL__USER=authentik
AUTHENTIK_POSTGRESQL__PASSWORD={{ authentik_postgres_password }}
AUTHENTIK_REDIS__HOST=redis
PG_PASS={{ authentik_postgres_password }}
AUTHENTIK_PUBLIC_URL={{ authentik_public_url }}
AUTHENTIK_LISTEN__TRUSTED_PROXY_CIDRS={{ authentik_trusted_proxy_cidrs | join(',') }}
