Authentik bootstrap
===================

URL: {{ authentik_public_url }}
Internal URL: http://{{ ansible_host }}:{{ authentik_listen_http }}

Initial admin:
  username: akadmin
  email: {{ authentik_bootstrap_email }}
  password: {{ authentik_bootstrap_password }}

Bootstrap API token:
  {{ authentik_bootstrap_token }}

Managed local users:
{% for user in authentik_managed_users | default([]) %}
  username: {{ user.username }}
  email: {{ user.email }}
  password: {{ user.password }}
  groups: {{ user.groups | join(', ') }}
{% endfor %}

These values are generated once on the Ansible control host:
  {{ authentik_secret_dir }}/{{ authentik_secret_prefix }}-akadmin-password
  {{ authentik_secret_dir }}/{{ authentik_secret_prefix }}-akadmin-token
{% for user in authentik_managed_users | default([]) %}
  {{ authentik_secret_dir }}/{{ authentik_secret_prefix }}-{{ user.username }}-password
{% endfor %}

Move a recovery copy to Vault/Bitwarden after first login.
